.invalid-feedback,.help-block{
    color:red;
    display:inline-block;
    font-size:1rem;
}
.btn-close {float:right;}
.btn-default {border:1px solid grey;}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    }
  
.container {
    flex:1;
  }

footer {
    margin:0 auto;
    padding:10px;
  }

