body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin:0;
    }
        
.container {
    flex-grow: 1;
    }

footer {
    margin-top:20px;
    padding:10px;
    box-sizing:border-box;
    text-align:center;
    }